html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin-top: 0;
}

:root{
  --active-color: #A47312;
  --link-color: #CC9933;
  --bg-color: #ffffff;

}

/*ОБЩИЕ СТИЛИ*/

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'),
  url('/fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: 
  url('/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'),
  url('/fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'),
  url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'),
  url('/fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'),
  url('/fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  /* background: #E5E5E5; */
  color: #333
}

ul{
  list-style: none;
  padding: 0;
}

.flex{
  display: flex;
}

.section{
  margin-bottom: 100px;
}

h1,h2,h3,h4,p,ul{
  margin: 0;
}

.container{
  width: 1770px;
  margin: 0 auto;
  max-width: 95%;
  /* padding: 30px 0; */
}

.header{
   font-size: 48px;
   font-weight: 400;
   line-height: 59px;
   padding-left: 2px;
}

.btn{
   background: transparent;
   padding: 25px 37px;
   border: none;
   cursor: pointer;
}
.btn-color{
   background-color: rgba(255, 153, 0, 1);
   color: white;
   font-size: 24px;
   font-weight: 700;
}
.btn-color:hover, .btn-color:focus{
   background-color: rgba(255, 153, 0, 0.9);
   outline: none;
}
.btn-color:active{
   background-color: #E1670E;
}
.btn-trans{
   border: 1px solid #333;
   font-size: 16px;
   font-weight: 400;
   padding: 24px 38px;
}
.btn-trans:hover, .btn-trans:focus{
   background: #333;
   color: white;
   outline: none;
}
.btn-trans:active{
   background: #000;
   color: white;
}

.standart-link{
  /* transition: color 0.3s; */
  transition-property: color, opacity;
  transition-duration: 0.3s;
}
.standart-link:focus{
  color: var(--link-color);
  outline: 2px solid var(--link-color);
}
.standart-link:hover{
  /* color: #E9C379; */
  opacity: 0.8;
}
.standart-link:active{
  color: var(--active-color);
}

.section-header{
  font-size: 40px;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  margin-bottom: 20px;
}

.link__arrow{
  background: url('/img/link_arrow.svg') right center no-repeat;
  background-size: 11px;
  padding-right: 20px;
  color: #FFCC66;
}

/*
   HEADER
*/
.head{
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.logo{
   width: 225px;
   /* margin-right: 730px;  */
}

.menu{
   padding: 14px 0;
   align-items: center;
}

.nav-search{
   margin-left: auto;
}

.nav{
   margin-right: 85px;
   font-size: 18px;
   font-weight: 600;
   display: flex;
   align-items: center;
}

.nav__list{
   align-items: center;
}

.nav__item:not(:last-child){
   margin-right: 85px;
}

.nav__link{
   position: relative;
}

.nav__link::after{
   position: absolute;
   content: ""; 
   background-color: #FF9900;;
   width: 0; height: 2px;
   bottom: -3px; left: 0;
}

.nav__link:hover::after{
   width: 100%;
}

.nav__link:focus{
   outline: 2px solid #FF9900;
   outline-offset: 5px;
}

.nav__link:active::after{
   width: 100%;
}

.nav__link:active{
   color: #FF9900;
}

.search{
   width: 24px;
   height: 24px;
}


.search:focus{
   outline: 2px solid #FF9900;
   outline-offset: 5px;
}

.search:hover rect{
   fill: #FF9900;
}

.search:hover path{
   stroke: #FF9900;
}


/*
   HERO
*/
.hero__container{
   background: url(../img/hero/slide1.jpg) center center no-repeat;
   background-size: cover;
   padding: 100px 80px;
}

.hero__block{
   max-width: 840px;
   color: white;
}

.hero__header{
   font-size: 70px;
   font-weight: 800;
   margin-bottom: 25px;
   line-height: 85px;
}

.hero__text{
   font-size: 24px;
   margin-bottom: 90px;
   font-weight: 700;
}



/*
ABOUT
*/
.about{
   margin-bottom: 100px !important;
}

.about__header{
   margin-bottom: 20px;
}

.about__text{
   font-size: 16px;
   line-height: 32px;
   max-width: 1235px;
   margin-bottom: 50px;
}


.about_block{
   display: flex;
}
 
.about__img{
   max-width: 52%;
   /* height: 622px; */
   background: url('../img/about/about.jpg') center center no-repeat;
   background-size: cover;
   display: flex; 
   align-items: flex-end;
   margin-right: 32px;
}
 
.about__img_shadow{
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 
.about__img_shadow_text{
   /* max-width: 450px; */
   font-size: 16px;
   margin-right: 140px;
   font-weight: 700;
   line-height: 32px;
}
 
.about__img_shadow_button{
   text-align: center;
   /* width: 175px; */
   /* height: 60px; */
   box-sizing: border-box;
   /* padding: 0; */
   background: transparent;
   color: white;
   border: 3px solid #FF9900;
   font-size: 16px;
   font-weight: 700;
   padding: 20px 38px;
   line-height: 20px;
   box-sizing: border-box;
}

.about__img_shadow_button:hover, .about__img_shadow_button:focus{
   background: #FF9900;
   outline: none;
}
.about__img_shadow_button:active{
   background: #E1670E;
   border-color: #E1670E;
}
 
.about__cards{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
 
.about__cards__block{
   border: 1px solid black;
   /* width: 870px; */
   padding: 65px 120px 65px 60px;
}
.about__cards__block:not(:last-child){
   margin-bottom: 32px;
}

.about__cards__img{
   background: url('../img/about/cude.svg') left center no-repeat;
   background-size: contain;
   padding-left: 240px;
}
.about__cards__text__head{
   margin-bottom: 10px;
   font-size: 24px;
   font-weight: 700;
   white-space: nowrap;
}
 
.about__cards__text__para{
   width: 450px;
   font-size: 16px;
   line-height: 32px;
}



/*
   HOW
*/
.how__header{
   margin-bottom: 50px;
}

.tabs{
   margin-bottom: 45px;
   font-size: 18px;
}

.tabs_li:not(:last-child){
   margin-right: 85px;
}

.tabs__link:hover{
   color: #FF9900;
}
.tabs__link:focus{
   outline: 2px solid #FF9900;
   outline-offset: 5px;
}
.tabs__link:active{
   color: #E1670E
}

.how-slide__block{
   margin-right: 142px;
}

.how-slide__header{
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
}

.how-slide__text{
   font-size: 16px;
   line-height: 32px;
   margin-bottom: 50px;
   width: 755px;
}

.how_btn-1{
   margin-right: 32px;
   font-size: 16px;
   padding: 20px 38px;
   line-height: 19px;
}
.how_btn-2{
   padding: 20px 38px;
}

.how-slide__picture{
   background: url(../img/how/how.jpg) center center no-repeat;
   background-size: cover;
   width: 870px;
   max-width: 50%;
}



/*
   FAQ
*/
.faq__header{
   margin-bottom: 42px;
   line-height: 58px;
}

.questions__link{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
   border-top: 1px solid #CACACA;;
   border-bottom: 1px solid #CACACA;;
   margin-top: -1px;
   position: relative;
   font-size: 24px;
   line-height: 32px;
}

.questions__link:hover, .questions__link:focus{
   z-index: 2;
   border-color: #FF9900;
   color: #FF9900;
   outline: none;
}

.questions__link:hover path, .questions__link:focus path{
   fill: #fff;
}

.questions__link:hover ellipse, .questions__link:focus ellipse{
   fill: #FF9900;
}


.questions__header{
   font-size: 24px;
   
}


/*
   FOOTER
*/
.footer{
   background-color: #222222;
   padding: 50px 75px;
}

.footer__container{
   justify-content: space-between;
   align-items: center;
}

.footer__menu{
   display: flex;
   flex-direction: column;
}

.footer__logo{
   width: 224px;
   margin-bottom: 20px;
}

.footer__nav{
   color: #CACACA;
   margin-bottom: 90px;
   font-size: 18px;
   line-height: 36px;
   font-weight: 500;
}

.footer__nav__link:hover{
   color: #FF9900
}
.footer__nav__link:focus{
   outline: 2px solid #FF9900;
   outline-offset: 5px;
}

.social__li:not(:last-child){
   margin-right: 25px;
}

.social__link{
   display: block;
}
.social__link:hover path{
   fill: #FF9900;
}
.social__link:focus{
   outline: 2px solid #FF9900;
   outline-offset: 5px;
}
.social__link:active path{
   fill: #E1670E;
}

.form{
   flex-direction: column;
}

.form__header{
   font-size: 48px;
   font-weight: 400;
   color: #CACACA;
   margin-bottom: 25px;
   width: 570px;
   align-items: stretch;
}

.field{
   color: #fff;
   background: #414141;
   border: none;
   outline: none;
   padding: 14px 24px;
   margin-bottom: 25px;
   font-size: 16px;
   line-height: 32px;
}
.field:hover, .field:focus, .field:active{
   background-color: #666666;
}

.field::placeholder{
   color: #CACACA;
   font-size: 16px;
}

.textarea{
   min-height: 150px;
   resize: none;
   margin-bottom: 32px;
}

.send{

}

.send__btn{
   padding: 20px 52px;
   font-size: 16px;
   font-weight: 600;
   margin-right: 22px;
}

.send__label{
   white-space: nowrap;
   align-items: center;
   flex-wrap: nowrap;
   color: #CACACA;
   font-size: 16px;
}

#agree{
   display: none;
}

#agree:checked+.send__text::before {
   border: 1px solid #CACACA;
   background-image: url("../img/footer/check.svg");
   background-size: contain;
 }
 
 #agree+.send__text::before {
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 1px solid #adb5bd;
   margin-right: 5px;
   background-repeat: no-repeat;
   background-position: center center;
   margin-bottom: -1px;
 }


.footer__text{
   max-width: 360px;
   line-height: 32px;
   font-size: 16px;
   color: #CACACA;
}